In [116]:
import yfinance as yf
import pandas as pd

In [117]:
#MC DONALS DATA
df = yf.download("MCD", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("MCD_2019_2024_monthly.csv")

MCD_DATA = pd.read_csv('MCD_2019_2024_monthly.csv')
MCD_DATA.drop(MCD_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\3029685449.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("MCD", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [118]:
#TYSON FOODS DATA -- PRODUCTOR DE CARNES
df = yf.download("TSN", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("TSN_2019_2024_monthly.csv")

TSN_DATA = pd.read_csv("TSN_2019_2024_monthly.csv")
TSN_DATA.drop(TSN_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\3961372039.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("TSN", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [119]:
#HORMEL FOODS DATA -- PROVEEDOR DE CARNES
df = yf.download("HRL", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("HRL_2019_2024_monthly.csv")

HRL_DATA = pd.read_csv("HRL_2019_2024_monthly.csv")
HRL_DATA.drop(HRL_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\493062832.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("HRL", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [120]:
#BUNGE LIMITED DATA -- PROVEEDOR DE GRANOS Y ACEITES
df = yf.download("BG", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("BG_2019_2024_monthly.csv")

BG_DATA = pd.read_csv("BG_2019_2024_monthly.csv")
BG_DATA.drop(BG_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\1768031222.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("BG", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [121]:
#ARCHER DANIELS MIDLAND DATA -- PROVEEDOR DE GRANOS Y ACEITES
df = yf.download("ADM", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("ADM_2019_2024_monthly.csv")

ADM_DATA = pd.read_csv("ADM_2019_2024_monthly.csv")
ADM_DATA.drop(ADM_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\3046736664.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("ADM", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [122]:
#KRAFT HEINZ DATA -- PROVEEDOR DE SALAS Y QUESOS
df = yf.download("KHC", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("KHC_2019_2024_monthly.csv")

KHC_DATA = pd.read_csv("KHC_2019_2024_monthly.csv")
KHC_DATA.drop(KHC_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\2425822202.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("KHC", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [123]:
#YUM! BRANDS DATA -- COMPETENCIA MAS IMPORTANTE
df = yf.download("YUM", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("YUM_2019_2024_monthly.csv")

YUM_DATA = pd.read_csv("YUM_2019_2024_monthly.csv")
YUM_DATA.drop(YUM_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\3707649676.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("YUM", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [124]:
#INTERNATIONAL PAPER DATA -- PROVEEDORES DE PAPEL Y CARTON
df = yf.download("IP", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("IP_2019_2024_monthly.csv")

IP_DATA = pd.read_csv("IP_2019_2024_monthly.csv")
IP_DATA.drop(IP_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\3147226683.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("IP", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [125]:
#JBS DATA -- PROCESADORES DE CARNE
df = yf.download("JBSAY", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("JBSAY_2019_2024_monthly.csv")

JBSAY_DATA = pd.read_csv("JBSAY_2019_2024_monthly.csv")
JBSAY_DATA.drop(JBSAY_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\3397607006.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("JBSAY", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [126]:
#SYSCO CORPORATION DATA -- DISTRIBUCION MAYORISTA DE ALIMENTOS
df = yf.download("SYY", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("SYY_2019_2024_monthly.csv")

SYY_DATA = pd.read_csv("SYY_2019_2024_monthly.csv")
SYY_DATA.drop(SYY_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\774116231.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("SYY", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [127]:
#EXXON MOBIL -- PRECIOS DE TRANSPORTE
df = yf.download("XOM", start="2019-01-01", end="2025-01-01", interval="1mo")
df.to_csv("XOM_2019_2024_monthly.csv")

XOM_DATA = pd.read_csv("XOM_2019_2024_monthly.csv")
XOM_DATA.drop(XOM_DATA.index[[1]], inplace=True)

C:\Users\matia\AppData\Local\Temp\ipykernel_21676\901286126.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("XOM", start="2019-01-01", end="2025-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [128]:
MCD_DATA.head()
# TSN_DATA.head()
# HRL_DATA.head()
# BG_DATA.head()
# ADM_DATA.head()
# KHC_DATA.head()
# YUM_DATA.head()
# IP_DATA.head()
# JBSAY_DATA.head()
# SYY_DATA.head()
# XOM_DATA.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,MCD,MCD,MCD,MCD,MCD
2,2019-01-01,153.72018432617188,162.86876178771573,149.75637322646475,150.82256560970754,80003700
3,2019-02-01,158.07089233398438,158.8189521643255,149.102886012512,154.3822332807093,76828400
4,2019-03-01,164.3209991455078,164.85749586870722,154.2575363940917,159.72624331437302,63643000
5,2019-04-01,170.95791625976562,173.06059616550823,161.5520638798068,164.84021784764658,53512800

In [129]:
#MCD_DATA.head()
TSN_DATA.head()
# HRL_DATA.head()
# BG_DATA.head()
# ADM_DATA.head()
# KHC_DATA.head()
# YUM_DATA.head()
# IP_DATA.head()
# JBSAY_DATA.head()
# SYY_DATA.head()
# XOM_DATA.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,TSN,TSN,TSN,TSN,TSN
2,2019-01-01,51.741241455078125,52.27603734182417,44.13715178754185,44.3209879732238,57673700
3,2019-02-01,51.52397918701172,53.42082408856472,48.63275438557457,51.93343160909089,59262300
4,2019-03-01,58.371761322021484,58.46424194055087,51.73841609403477,51.95700402291212,59722400
5,2019-04-01,63.06303787231445,63.390921428895496,57.69918667791459,58.4306226810369,48377000

In [130]:
close_data = pd.concat([
    MCD_DATA['Close'].rename('MCD'),
    TSN_DATA['Close'].rename('TSN'),
    HRL_DATA['Close'].rename('HRL'),
    BG_DATA['Close'].rename('BG'),
    ADM_DATA['Close'].rename('ADM'),
    KHC_DATA['Close'].rename('KHC'),
    YUM_DATA['Close'].rename('YUM'),
    IP_DATA['Close'].rename('IP'),
    JBSAY_DATA['Close'].rename('JBSAY'),
    SYY_DATA['Close'].rename('SYY'),
    XOM_DATA['Close'].rename('XOM'),
], axis=1)

In [131]:
close_data.head()

,MCD,TSN,HRL,BG,ADM,KHC,YUM,IP,JBSAY,SYY,XOM
0,MCD,TSN,HRL,BG,ADM,KHC,YUM,IP,JBSAY,SYY,XOM
2,153.72018432617188,51.741241455078125,35.8634147644043,45.13807678222656,37.12370300292969,35.27022171020508,83.41635131835938,33.508018493652344,6.361458778381348,53.90599822998047,53.88784408569336
3,158.07089233398438,51.52397918701172,36.924034118652344,43.50697326660156,35.13935470581055,24.357440948486328,83.8779067993164,32.37058639526367,5.515315532684326,57.390480041503906,58.1162223815918
4,164.3209991455078,58.371761322021484,38.11623764038086,43.91375732421875,35.95820236206055,23.96114730834961,88.98844146728516,33.03677749633789,6.299920558929443,56.71928787231445,60.07746887207031
5,170.95791625976562,63.06303787231445,34.011661529541016,43.367637634277344,37.18376159667969,24.69474220275879,93.07184600830078,33.42232894897461,7.638365268707275,59.78635025024414,59.690834045410156